spring:
  data:
    redis:
      url: ${CLOUD_GATEWAY_REDIS_URL}
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${USER_SERVICE_URL}/.well-known/jwks.json
  application:
    name: macro-tracker-cloud-gateway
  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowed-origin-patterns:
              - "${MACRO_TRACKER_URL}"
            allowed-methods: "*"
            allowed-headers: "*"
            allow-credentials: true
            exposed-headers:
              - "Content-Disposition"
            max-age: 3600
      routes:
        # ======================= USER SERVICE ========================
        - id: user-service-auth-critical
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/api/auth/login, /api/auth/register, /api/auth/social
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 3
                redis-rate-limiter.burstCapacity: 5
                redis-rate-limiter.requestedTokens: 1

        - id: user-service
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/api/auth/**, /api/users/**, /api/profile/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 30
                redis-rate-limiter.requestedTokens: 1

        - id: user-service-swagger
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/api-docs/user-service/**
          filters:
            - RewritePath=/api-docs/user-service, /api-docs
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 50
                redis-rate-limiter.burstCapacity: 75
                redis-rate-limiter.requestedTokens: 1

        # ======================= GOAL SERVICE ========================
        - id: goal-service
          uri: ${GOAL_SERVICE_URL}
          predicates:
            - Path=/api/goals/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 30
                redis-rate-limiter.requestedTokens: 1

        - id: goal-service-swagger
          uri: ${GOAL_SERVICE_URL}
          predicates:
            - Path=/api-docs/goal-service/**
          filters:
            - RewritePath=/api-docs/goal-service, /api-docs
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 50
                redis-rate-limiter.burstCapacity: 75
                redis-rate-limiter.requestedTokens: 1

        # ======================= FOOD SERVICE ========================
        - id: food-service
          uri: ${FOOD_SERVICE_URL}
          predicates:
            - Path=/api/foods/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 30
                redis-rate-limiter.requestedTokens: 1

        - id: food-service-swagger
          uri: ${FOOD_SERVICE_URL}
          predicates:
            - Path=/api-docs/food-service/**
          filters:
            - RewritePath=/api-docs/food-service, /api-docs
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 50
                redis-rate-limiter.burstCapacity: 75
                redis-rate-limiter.requestedTokens: 1

        # ====================== INTAKE SERVICE =======================
        - id: intake-service
          uri: ${INTAKE_SERVICE_URL}
          predicates:
            - Path=/api/intake/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 30
                redis-rate-limiter.requestedTokens: 1

        - id: intake-service-swagger
          uri: ${INTAKE_SERVICE_URL}
          predicates:
            - Path=/api-docs/intake-service/**
          filters:
            - RewritePath=/api-docs/intake-service, /api-docs
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 50
                redis-rate-limiter.burstCapacity: 75
                redis-rate-limiter.requestedTokens: 1

        # ======================== BFF SERVICE ========================
        - id: bff-service
          uri: ${BFF_SERVICE_URL}
          predicates:
            - Path=/api/dashboard/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 30
                redis-rate-limiter.requestedTokens: 1

        - id: bff-service-swagger
          uri: ${BFF_SERVICE_URL}
          predicates:
            - Path=/api-docs/bff-service/**
          filters:
            - RewritePath=/api-docs/bff-service, /api-docs
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.keyResolver: "#{@hybridKeyResolver}"
                redis-rate-limiter.replenishRate: 50
                redis-rate-limiter.burstCapacity: 75
                redis-rate-limiter.requestedTokens: 1
    discovery:
      client:
        health-indicator:
          enabled: false

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    urls:
      - name: user-service
        url: /api-docs/user-service
      - name: intake-service
        url: /api-docs/intake-service
      - name: bff-service
        url: /api-docs/bff-service
      - name: food-service
        url: /api-docs/food-service
      - name: goal-service
        url: /api-docs/goal-service
    persist-authorization: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

server:
  forward-headers-strategy: native
