jwt:
  secret: ${JWT_SECRET}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

server:
  forward-headers-strategy: native

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${USER_SERVICE_URL}/.well-known/jwks.json
  application:
    name: macro-tracker-cloud-gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowed-origin-patterns:
              - "${MACRO_TRACKER_URL}"
            allowed-methods: "*"
            allowed-headers: "*"
            allow-credentials: true
            exposed-headers:
              - "Content-Disposition"
            max-age: 3600
      routes:
        - id: user-service
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/api/auth/**, /api/users/**, /api/profile/**

        - id: user-service-swagger
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/api-docs/user-service/**
          filters:
            - RewritePath=/api-docs/user-service, /api-docs

        - id: goal-service
          uri: ${GOAL_SERVICE_URL}
          predicates:
            - Path=/api/goals/**

        - id: goal-service-swagger
          uri: ${GOAL_SERVICE_URL}
          predicates:
            - Path=/api-docs/goal-service/**
          filters:
            - RewritePath=/api-docs/goal-service, /api-docs

        - id: food-service
          uri: ${FOOD_SERVICE_URL}
          predicates:
            - Path=/api/foods/**

        - id: food-service-swagger
          uri: ${FOOD_SERVICE_URL}
          predicates:
            - Path=/api-docs/food-service/**
          filters:
            - RewritePath=/api-docs/food-service, /api-docs

        - id: intake-service
          uri: ${INTAKE_SERVICE_URL}
          predicates:
            - Path=/api/intake/**

        - id: intake-service-swagger
          uri: ${INTAKE_SERVICE_URL}
          predicates:
            - Path=/api-docs/intake-service/**
          filters:
            - RewritePath=/api-docs/intake-service, /api-docs

        - id: bff-service
          uri: ${BFF_SERVICE_URL}
          predicates:
            - Path=/api/dashboard/**

        - id: bff-service-swagger
          uri: ${BFF_SERVICE_URL}
          predicates:
            - Path=/api-docs/bff-service/**
          filters:
            - RewritePath=/api-docs/bff-service, /api-docs
    discovery:
      client:
        health-indicator:
          enabled: false

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    urls:
      - name: user-service
        url: /api-docs/user-service
      - name: intake-service
        url: /api-docs/intake-service
      - name: bff-service
        url: /api-docs/bff-service
      - name: food-service
        url: /api-docs/food-service
      - name: goal-service
        url: /api-docs/goal-service
    persist-authorization: true
