jwt:
  secret: ${JWT_SECRET}

spring:
  application:
    name: macro-tracker-cloud-gateway
  cloud:
    gateway:
      routes:
        - id: user-service-auth
          uri: ${FEIGN_USER_SERVICE}
          predicates:
            - Path=/api/auth/**

        - id: user-service
          uri: ${FEIGN_USER_SERVICE}
          predicates:
            - Path=/api/users/**, /api/profile/**
          filters:
            - AuthenticationFilterFactory

        - id: goal-service
          uri: ${FEIGN_GOAL_SERVICE}
          predicates:
            - Path=/api/goals/**
          filters:
            - AuthenticationFilterFactory

        - id: food-service
          uri: ${FEIGN_FOOD_SERVICE}
          predicates:
            - Path=/api/foods/**
          filters:
            - AuthenticationFilterFactory

        - id: intake-service
          uri: ${FEIGN_INTAKE_SERVICE}
          predicates:
            - Path=/api/intake/**
          filters:
            - AuthenticationFilterFactory

        - id: bff-service
          uri: ${FEIGN_BFF_SERVICE}
          predicates:
            - Path=/api/dashboard/**
          filters:
            - AuthenticationFilterFactory
